.footer__copyright {
    margin-top: 67px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}
@media screen and (max-width: 420px) {
    .footer__copyright {
        margin-top: 48px;
        margin-bottom: 36px;
        font-size: 14px;
        line-height: 17px;
    }
}