.profile__avatar-zone {
    position: relative;
    display: flex;
}

.profile__avatar-zone:hover .profile__avatar-cover {
    opacity: 1;
}
.profile__avatar-zone:hover .profile__avatar {
    opacity: 0.2;
    cursor: pointer;
}
