.edit-form__submit-button {
    background-color: #000000;
    border-radius: 2px;
    height: 50px;
    border: none;
    box-sizing: border-box;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
@media screen and (max-width: 420px) {
    .edit-form__submit-button {
        font-size: 14px;
        line-height: 17px;
        height: 50px;
    }
}