.profile__zone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 520px) {
    .profile__zone {
        flex-direction: column;
    }
}